

// KCO-order-review
#kco-order-review {
    width: auto;
    height: auto;
    padding: 32px 24px;
    border-radius: 10px;
    gap: 24px;
    background-color: white; // Behåll bakgrundsfärgen
}

.shop_table.woocommerce-checkout-review-order-table {
    background-color: white; // Behåll bakgrundsfärgen
}

// Selector för varje produkt i tabellen
.shop_table.woocommerce-checkout-review-order-table tbody tr.cart_item {
    // Produktattribut
    width: 100%; // Ändra bredden för att anpassa sig till den nya layouten
    height: auto; // Använd automatisk höjd för att anpassa sig till innehållet
    padding: 16px;
    border-radius: 13px;
    gap: 16px;
    color: #000000; // Behåll textfärgen

    // Produktens namn
    .product-name {
        // Behåll textattribut för produktnamn
        font-family: $sf-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #000000; // Behåll textfärgen
    }

    // Produktens subtotal
    .product-total {
        font-family: $sf-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: right;
        color: #000000; 
    }
}


.woocommerce-billing-fields {
    margin-bottom: 20px;

    h3 {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #000000; 
    }

    // Styling för varje enskilt fält
    p.form-row {
        label {
            display: block;
            font-family: 'SF Pro Display', sans-serif;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
            color: #000000; 
        }

        // Textinmatningsfält
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            font-family: 'SF Pro Display', sans-serif;
            margin-bottom: 0; 
        }

        
        span.optional {
            font-style: italic;
            font-size: 14px;
            color: #666;
        }
    }

    
    > .woocommerce-billing-fields__field-wrapper {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}


@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;

        .left-column,
        .right-column {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.shop_table.woocommerce-checkout-review-order-table tbody tr.cart_item {
    margin-left: 20px;

    background-color: #F6F6F6;

    
    display: flex;
    align-items: center;

    
    .product-thumbnail,
    .product-name,
    .product-total {
        margin: 0;
    }

    .product-name {
        flex: 1;
        font-family: $sf-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #000000;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    
    .product-total {
        font-family: $sf-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #000000;
    }
}

.shop_table.woocommerce-checkout-review-order-table {
    margin-left: 20% !important;
}

.woocommerce table.shop_table{
    width: 110%;
}

.woocommerce table.shop_table td {
    border-top: none;
    padding: 0;
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border: none;
}

#shipping_phone_field {
    display: none;
}
.cart_item {
    margin-bottom: 10px;
}
.row {
    display: flex;
}

.left-column,
.right-column {
    flex: 1;
}
#order_review_heading {
    display: none;
}

.includes_tax {
    display: none;
}
.left-column {
    margin-left: 1%; 
}
.shop_table.woocommerce-checkout-review-order-table tbody tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.shop_table.woocommerce-checkout-review-order-table tbody td {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; 
}



.wc_payment_methods.payment_methods.methods {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .wc_payment_methods.payment_methods.methods li {
    flex: 1;
    text-align: center;
    border-bottom: 2px solid transparent; 
    padding: 10px;
    cursor: pointer;
  }

  .wc_payment_methods.payment_methods.methods li input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #000000; 
}
  
  .payment_methods.methods li.active {
    border-bottom: 2px solid black;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background-color: white;
}




#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    background-color: white;
    
}


#wc-stripe-upe-form {
    border: none; 
  }
  
  .wc-stripe-upe-element, #__PrivateStripeElement {
    border: none !important; 
  }
  
  .wc-stripe-upe-element input[type="text"],
  .wc-stripe-upe-element input[type="number"],
  .wc-stripe-upe-element input[type="email"],
  .wc-stripe-upe-element input[type="tel"],
  .wc-stripe-upe-element input[type="password"] {
    border: 1px solid #CECECE; 
  }


  fieldset {
    border: none;
    padding: 0;
    margin: 0;

}
.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated {
    display: none !important;
}


#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    border: none;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
    content: "";
    display: block;
    border-bottom: 2px solid #000000 ; 
    width: 25%;
    margin-right: 20px;
    
}


#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
    border: none;
}

.woocommerce-terms-and-conditions-wrapper {
    display: none;
}

#place_order {
    width: 244.5px; 
    height: 64px; 
    padding: 24px 86px; 
    border-radius: 6px; 
    gap: 8px; 
    background-color: #000000; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    margin-right: 31%; 
}

.back-button {
    width: 244.5px; 
    height: 64px; 
    padding: 24px 86px; 
    border: 1px solid #000000 !important; 
    border-radius: 6px !important; 
    gap: 8px; 
    background-color: #ffffff !important; 
    color: #000000 !important; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    margin-left: 4% !important; 
}



#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
    content: url('../images/Credit Card.png');
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 105%; 
    margin-top: 40px;
}


.cart-address, .cart-ship {
    display: flex;
    flex-direction: column; 
    
}
.cart-address th{
    margin-left: 2.2% !important;
}

.cart-address th, .cart-ship th {
    width: 30% !important; 
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #545454 !important;
    margin-left: 2%;
    padding-top: 2% !important;
    
}

.cart-address td, .cart-ship td {
    width: 100% !important; 
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
    text-align: left !important;
    color: #000000 !important;
    margin-left: 4%;
    padding-top: 2% !important;
}

.cart-subtotal th {
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 18px !important;
    font-weight: 550 !important;
    line-height: 24px !important;
    letter-spacing: 0.03em !important;
    text-align: left !important;
    color: #000000 !important;
    padding-left: 3% !important;
    padding-top: 2% !important;
}
.cart-taxx th {
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #545454 !important;
    padding-left: 3% !important;
    
}

.woocommerce-shipping-totals.shipping th {
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 32px !important;
    letter-spacing: 0.03em !important;
    text-align: left !important;
    color: #545454 !important;
    padding-left: 3% !important;
}

.order-total th,
.order-total td {
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 32px !important;
    letter-spacing: 0.03em !important;
    text-align: left !important;
    color: #000000 !important;
    
}

.order-total th{
    padding-left: 3.5% !important;
}
.woocommerce-billing-fields{
    padding-left: 3.5% !important;
}



.wpmc-tab-item.current.wpmc-billing {
    position: relative; 
}

.wpmc-tab-item.current.wpmc-billing img {
    position:sticky;
    left: -30px; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0; 
}

.wpmc-tab-item.current.wpmc-billing .wpmc-tab-text {
    margin-bottom: 2%;
    margin-left: 7%; 
}


.wpmc-tab-item.current.wpmc-shipping {
    position: relative; 
}

.wpmc-tab-item.current.wpmc-shipping img {
    position: sticky;
    left: -30px; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0; 
}

.wpmc-tab-item.current.wpmc-shipping .wpmc-tab-text {
    margin-bottom: 2%;
    margin-left: 7%; 
}

.wpmc-tab-item.current.wpmc-review {
    position: relative; 
}

.wpmc-tab-item.current.wpmc-review img {
    position: sticky;
    left: -30px; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0; 
}

.wpmc-tab-item.current.wpmc-review .wpmc-tab-text {
    margin-bottom: 2%;
    margin-left: 12%; 
}


#payment_heading {
    display: none; 
    visibility: hidden; 
}