// Base styling för formuläret
form.checkout {
    // Din styling här
}

// KCO-wrapper
#kco-wrapper {

}

// KCO-order-review
#kco-order-review {
    width: 512px;
    height: 704px;
    padding: 32px 24px;
    border-radius: 10px;
    gap: 24px;
}

// Selector för varje produkt i tabellen
.shop_table.woocommerce-checkout-review-order-table tbody tr.cart_item {
    // Produktattribut
    width: 464px;
    height: 72px;
    padding: 16px 0 16px 16px;
    border-radius: 13px;
    gap: 16px;
    color: #F6F6F6;

    // Om du behöver ytterligare anpassning för varje cell, kan du använda följande selektorer:

    // Produktens namn
    .product-name {
        // Textattribut för produktnamn
        font-family: "SF Pro Display";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    // Produktens subtotal
    .product-total {
        // Textattribut för pris
        font-family: $sf-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: right;
        color: #000000;
    }
}

.shop_table.woocommerce-checkout-review-order-table tbody tr.cart_item {
    background-color: #F6F6F6;
}

