footer {
    position: relative; 
    bottom: 0; 
    width: 100%;

    background-color: black;
    color: white;
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        margin: $general-margin;

        .footercolumn {
            flex: 1;
            padding: 0 20px;
            transform: translate(50px, 50px); 

            &:first-child {
                p {
                    font-family: $sf-font;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #CFCFCF; 
                    margin-bottom: 20px;
                }

                .social-icons {     
                    
                margin-top: 100px;


                    a {
                        color: white;
                        margin-right: 70px;

                        i {
                            font-size: 24px;
                        }
                    }
                }
            }

            .category {
                font-family: $sf-font;
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFFFFF; 
                margin-bottom: 10px;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    font-family: $sf-font;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #CFCFCF; 

                    a {
                        color: #CFCFCF;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}