.site-main {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center; /* Horisontellt centrerad */

    .woocommerce-breadcrumb {
        position: absolute; /* Absolut position */
        margin-left: 6.5%; /* Justera uppåt med önskat avstånd */
        left: 0; /* Placera till vänster */
        width: auto; /* Anpassa bredden till innehållet */
        text-align: left; /* Vänsterjustera texten */
        z-index: 999; /* Placera över andra element */
        background-color: white; /* Justera bakgrundsfärgen efter behov */
        padding: 10px; /* Lägg till lämplig padding */
        top: calc(20.25rem - 4.6875rem);
        a {
            text-decoration: none;
            color: #9f9f9f;
            font-weight: $font-weight-normal;
        }
        .breadcrumb-icon {
            position: relative;
            font-weight: $font-weight-normal;
            font-size: 20px;
            vertical-align: middle;
            margin-left: 5px;
            margin-right: 5px;
            color: #A4A4A4;
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10%;
        margin-left: 20%;
        margin-left: auto;

        .wcapf-form {
            width: 15%; 
            margin-right: 20px; 
}
        
        li.product {
            margin-bottom: 10%; 
            margin-right: 0; 
            padding: 20px;
            border-radius: 5px;
            background-color: #F6F6F6;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            position: relative;

            .woocommerce-loop-product__title {
                font-family: $sf-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: $primary-text-color;
                margin-bottom: 10px;
                list-style-type: none;
                border-bottom: none;
            }

            .price {
                font-family: $sf-font;
                font-size: 1.2em;
                font-weight: 600;
                line-height: 1;
                text-align: center;
                color: $primary-text-color;
                margin-top: auto;
                list-style-type: none;
                border-bottom: none;
            }

            .ajax_add_to_cart {
                text-align: center;
                margin-top: 10px;
                list-style-type: none;
            }
        }
        
    }
    
}

.archive-product-container {
    display: flex;
    margin-left: 5%
}


.product {
    width: 100%; 
    margin-bottom: 20px;
}


.woocommerce-loop-product__link,
.woocommerce-loop-product__link:hover,
.woocommerce-loop-product__link:focus {
    color: inherit;
    text-decoration: none;
}
.woocommerce-loop-product__link {
    text-align: center;
}

.like-button.liked img {
    filter: brightness(0) saturate(100%) invert(83%) sepia(6%) saturate(2083%) hue-rotate(358deg) brightness(104%) contrast(93%);
    border: none;
}

.like-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 20px; 
}

// SCSS för att styla stjärnorna
.woocommerce-product-rating {
    display: flex;
    align-items: center;
    justify-content: center;

    .star {
        font-size: 20px; 
        color: #ccc; 
    }

    .filled {
        color: #ffc107; 
    }

    .rating {
        margin-left: 10px; 
        font-size: 14px; 
    }

    .review-count {
        margin-left: 10px; 
        font-size: 14px; 
        color: #777; 
    }
}



a.button.add_to_cart_button {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 12px 64px;
    border-radius: 8px;
    background-color: #000000; 
    color: #ffffff; 
    text-decoration: none;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.star-rating {
    display: none;
}




.wcapf-range-slider.style-1 {
    width: 100%; 
}


.wcapf-noui-slider .wcapf-noui-handle {
    width: 20px; 
    height: 20px; 
    margin-left: -10px; 
    margin-top: -7px; 
}


.wcapf-noui-slider .wcapf-noui-base {
    background-color: #ddd; 
}

.wcapf-noui-slider .wcapf-noui-handle {
    background-color: #414141; 
    border: 2px solid #CECECE; 
}

.wcapf-noui-slider .wcapf-noui-handle:hover {
    background-color: #414141; 
    border-color: #414141; 
}


$filter-title-color: #333;
$filter-background-color: #f4f4f4;
$filter-border-color: #ddd;


.wcapf-form {
    
    width: 30%; 
    margin: 20px; 
    padding: 20px; 
    a {
        color: #007bff; 
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.wcapf-range-wrapper input[type=text],
.wcapf-range-wrapper input[type=number] {
    width: auto; 
    height: 40px;
    padding: 8px 64px 8px 8px;
    border-radius: 3px;
    border: 0.5px solid #9F9F9F;
    gap: 8px;
}
.wcapf-range-separator {
    width: 20px;
    color: #E7E7E7;
}

.wcapf-filter-title {
    border-bottom: 0.5px solid #B5B5B5;
    transform: rotate(0deg); 
}




